---
const stats = [
  {
    icon: "",
    title: "Experience",
    value: "1+ Years",
  },
    {
    icon: "",
    title: "Projects",
    value: "10+ completed",
  },
    {
    icon: "",
    title: "Tech Stack",
    value: "Vue • Laravel",
  },
]
  
---

<section id="home" class="relative overflow-hidden bg-[#050816] text-white flex items-center pt-14 md:pt-10 lg:pt-20 scroll-mt-15">

  <div class="absolute inset-0 bg-[radial-gradient(circle_at_20%_20%,rgba(99,102,241,0.15),transparent_25%)]"></div>
  <div class="absolute inset-0 bg-[radial-gradient(circle_at_80%_50%,rgba(139,92,246,0.18),transparent_30%)]"></div>
  <div class="absolute inset-0 bg-gradient-to-r from-black via-[#050816] to-black"></div>

  <div class="absolute top-20 left-10 w-40 h-40 bg-indigo-500/20 blur-[100px] rounded-full"></div>
  <div class="absolute bottom-20 right-10 w-52 h-52 bg-purple-500/20 blur-[120px] rounded-full"></div>

  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-12 md:py-16 w-full">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 lg:gap-20 items-center">
      <div class="order-2 sm:order-2 md:order-1">
        <p class="text-indigo-400 text-lg tracking-wide mb-2">Hello, I'm</p>
        <h1 class="text-4xl sm:text-5xl lg:text-7xl font-bold leading-tight">Sakthivel N</h1>
        <h2 class="text-2xl md:text-3xl font-semibold bg-gradient-to-r from-indigo-400 to-purple-500 text-transparent bg-clip-text mb-6">Full Stack Web Developer</h2>
        <p class="text-gray-300/80 text-base lg:text-lg leading-relaxed max-w-xl mb-8">I build modern, scalable and high-performance web applications using
          Vue.js, Laravel and Tailwind CSS with clean UI/UX and optimized backend architecture.
        </p>
        

        <div class="flex flex-row gap-4 mt-8 mb-10">
          <a href="/resume/Sakthivel_N_Resume.pdf" target="_blank"class="px-8 py-3 rounded-xl bg-gradient-to-r from-indigo-500 to-purple-600 hover:scale-105 transition-transform duration-300 shadow-lg shadow-indigo-500/30">View Resume</a>
          <a href="#contact" class="px-8 py-3 rounded-xl border border-white/10 bg-white/5 hover:border-indigo-400 hover:bg-indigo-500/10 transition">Contact Me</a>
        </div>

        <!-- <div class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          {stats.map((item) => (
            <div class="bg-white/5 backdrop-blur-sm border-white/10 rounded-2xl p-5 hover:bg-white/10 transition duration-300">
              <div class="text-2xl mb-3"> {item.icon}</div>
              <h3 class="font-semibold text-lg">{item.title}</h3>
              <p class="text-gray-400 text-sm mt-1">{item.value}</p>
            </div>
          ))}
        </div> -->
      </div>

      <div class="order-1 sm:order-1 md:order-2 flex justify-center items-center">
        <img src="/images/logo.png" alt="sakthivel" class="w-[320px] md:w-[380px] lg:w-[430px] h-[320px] sm:h-[380px] md:h-[450px] lg:h-[500px] object-cover">
      </div>
    </div>
  </div>
</section>